/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Science+Gothic:wght@100..900&display=swap');

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #1d402f;
}

nav a { 
    margin: 0 10px; 
    color:#F2E9CE; 
    text-decoration: none; 
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.header-cima {
    background-color: #1d402f;      
    width: 100%; 
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;       
}


header nav a {
text-decoration: none;
padding: 6px 12px;
}

.header-cima nav {
    display: flex;
    justify-content: center;
    gap: 0 6px; 
    padding: 2px 0;
}

.header-cima nav a {
    padding: 4px 8px;
    margin: 0;       
    font-size: 14px;
    color: #F2e9ce;
    font-family: 'Rubik', sans-serif;      
    font-size: 15px;  
    font-weight: 600      
}

.header-cima nav a:hover {
    color: #BFB74B;   
}

.header-baixo {
    background-color: #F2E9CE;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px 0;     
}

.header-baixo img {
    max-width: 250px;
    height: auto;
    display: block;
}

#carousel {
    height: 240px;
}


#carousel img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.layout-container {
    padding: 10px; 
}

.box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* estica os filhos para 100% da largura */
    gap: 15px;
    min-height: 200px;
    background: #83A64E;
    color: #F2e9ce;
    padding: 15px;
    border-radius: 6px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.box-not {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;
    background: #83A64E;
    color: #F2e9ce;
    padding: 15px;
    border-radius: 6px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.conteudo-noticia p {
    margin: 0;        
    padding: 0;          
}

.box-not-img img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.box-img img {
    width: 240px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.box-texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;    
}

.box-texto h1 {
    font-family: 'Science Gothic', sans-serif;
    color: #F2e9ce;
    font-weight: 800;
    margin: 0;
    font-size: clamp(39px, 6vw, 80px); /* (tamanho mínimo, tamanho ideal (em relação ao tamanho da tela, nesse caso 6%), tamanho máximo) */
    word-wrap: break-word; /* impede que saia da caixa*/
}

.box-texto p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
}

.box-vertical {
    min-height: 300px;
    background: #83A64E;
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;
    color: #F2e9ce;
    padding: 15px;
    border-radius: 6px;
    font-family: 'Rubik', sans-serif;   
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.box-vertical .link-fontes {
    display: block; /* faz cada link virar uma “linha” */
    text-decoration: none;
}

.membro {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.membro p {
    margin: 0;
    padding: 0;
}

h3{
    font-family: 'Science Gothic', sans-serif;
    color: #F2e9ce;
    font-weight: 600;
    font-size: 35px;
}

h4{
    font-family: 'Science Gothic', sans-serif;
    color: #F2e9ce;
    font-weight: 300;
    font-size: 28px;
}

p, li, footer{
    font-family: 'Rubik', sans-serif;
}

.texto-intro{
    margin-top: 10px;
}

a.link-noticias {
    color: #F2AE2E;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

.link-noticias:hover {
    color: #1d402f;
}

.link-fontes {
    color: #F2e9ce;
    font-family: 'Rubik', sans-serif;
}

.link-fontes:hover {
    color: #F2AE2E;
}

img {
    max-width: 100%;
    height: auto;
}

.img-noticia {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 6px;
    margin: 0;  
}

footer {
    background: #83A64E;
    color: #F2e9ce;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    width: 100%;
}

.quiz-box {
    background: #83A64E;
    color: #F2e9ce;
    padding: 15px;    
    border-radius: 6px;  
    box-sizing: border-box;
    width: 100%;     
    margin-bottom: 15px;
    display: flex;            
    flex-direction: column;  
    align-items: center;      
    text-align: center;       
}


.quiz-box h4 {
    font-family: 'Science Gothic', sans-serif;
    color: #F2e9ce;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 15px;
}

.quiz-box .form-check-inline {
    margin: 5px;
}

.card-miner {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    background: #F2e9ce;
    color: #83A64E;
    border-radius: 6px;
    padding: 15px;
    border: none;
}

.card-miner img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.card-miner h4 {
    font-family: 'Science Gothic', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    color: #83A64E;
    margin-bottom: 12px;
}

.card-miner p {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #83A64E;
    margin: 0;
}

.table-wrapper {
    background: #F2E9CE;   
    border-radius: 8px;
    padding: 15px;
    margin: 20px 0;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
    color: #83A64E;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.table tr, .table td, .table th {
    border-color: #83A64E;
}

